/*------------------------------*/
/*---- Main style ----*/
/*------------------------------*/
div.login{
    text-align: left;
    background: lightgray;
    opacity: 0.6;

}
div.basket {
    text-align: right;
    background: lightgray;
        opacity: 0.6;
}
div.title{

        text-align: center;
    font: normal normal normal 40px/1.35em worksans-extralight,'work sans',sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 40px;
    line-height: 1.35em;
    font-family: worksans-extralight, "work sans", sans-serif;
    color: dimgrey;

}
div.mainIMG{
    text-align: center;
    background: transparent;

}


div.menu{
    display: inline-block;
    text-align: center;
    color: dimgrey;
    line-height: 10px;
}

html {
    min-height: 100%;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: white;
}

p {
  font-size: 1.2rem;
}
div.products{
    text-align: center;
        font-family: worksans-extralight, "work sans", sans-serif;
    color: dimgrey;


}

table.gallery{
    text-align: center;
        font-family: worksans-extralight, "work sans", sans-serif;
    color: dimgrey;


}

/*------------------------------*/
/*---- home /  o nas----*/
/*------------------------------*/

div.home1{
    text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;

}
div.home2{
   text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;

}
div.home3{
   text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;
}
/*------------------------------*/
/*---- FOOTER----*/
/*------------------------------*/
div.footer{
       text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;
        background: lightgray;
        opacity: 0.6;

}
div.copyright{
       text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;
}
div.contactForm{
       text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;
}

div.formContact{
           text-align: center;
}

/*------------------------------*/
/*---- KONTAKT----*/
/*------------------------------*/

div.kontakt{
    text-align: center;
    color: dimgrey;
    line-height: 1.35em;

}

div.home5{
       text-align: center;
    color: dimgrey;
    font-family: worksans-extralight, "work sans", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 1.35em;
}

div.category{
    text-align: center;
    color: dimgrey;

}

