{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="home1">
{% if user.is_superuser %}
    <p><b>DODAJ: </b><a href="/product_add/"><button type="button" class="btn btn-secondary">Produkt</button></a>
            <a href="/category_add/"><button type="button" class="btn btn-secondary">Kategorie</button></a>
            <a href="/producer_add/"><button type="button" class="btn btn-secondary">Producenta</button></a>
            </p>
{% endif %}
        <h2>Formularz dodawania Kategorii:</h2>
    <br>
         <form action="" method='post'>
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Dodaj kategorie">

        </form>
    <br>
    </div>
{% endblock %}