{% extends 'base.html' %}

{% block content %}
<div class="text">
    <h2>Obecnie możliwe są dwa warianty zakupu klimatyzatora typu split:</h2>
    <li>zakup z montażem</li>
    <li>zakup przez certyfikowane firmy instalatorskie</li>
    <p>Ustawa z dnia 15.05.2015 na podstawie Rozporządzenia Parlamentu Europejskiego</p>
<p class="list-unstyled">



  <h2>Montaż podstawowy klimatyzacji obejmuje:</h2>
    <li>montaż jednostki wewnętrznej do 2,5m wysokości</li>
    <li>montaż podpory pod jednostkę zewnętrzną i jednostki zewnętrznej do 2,5m wysokości od gruntu lub powierzchni zapewniającej
    stabilną podstawę rusztowania</li>
    <li>doprowadzenie do istniejącej instalacji elektrycznej zasilania urządzenia do 2m odległości natynkowo</li>
    <li>pojedyńczy przewiert przez całą ścianę niezbrojoną do grubości 30 cm</li>
    <li>wprowadzenie instalacji skroplin grawitacyjnie do 2m</li>
    <li>połączenie jednostki wewnętrznej i zewnętrznej do 2m wraz z materiałami</li>
    <li>zabezpieczenie instalacji miedzianej, elektrycznej i sterowania w zależności od materiałów</li>
    <li>wykonanie próżni w instalacji i wyrównanie poziomu czynnika do znamionowego(do 100g)</li>
    <li>uruchomienie urządzenia i instruktaż Klienta</li>

  <h1>Cena za montaż podstawowy: 1200 zł</h1>





                        <hr style="color: dimgrey;">
 <div class="contaktForm">


                 <div class="formContact">
                <h1>WYCENA</h1>

                    WYPEŁNIJ FORMULARZ - BY UZYSKAĆ WSTĘPNĄ WYCENĘ USŁUGI
                     <form action="" method="post">
                            <ul>
                            {% csrf_token %}
                                {{form.as_p}}
                                    <input type="submit" value="Wyślij">
                             </ul>
                    </form>
                 </div>

        <hr style="color: dimgrey;">

    </div>

</div>
{% endblock %}