{% extends 'base.html' %}

{% block content %}
<div class="home1">
    <h1>Montaż:</h1>

    <h2>Montaż i serwis klimatyzacji w Poznaniu i okolicach</h2>
    <h3>Jak wygląda u nas montaż klimatyzacji?</h3>
<ul>
    <li>Zlecenie instalacji każdego klimatyzatora analizujemy indywidualnie i opisując je w skrócie, przeważnie składa się
        <br>z następujących etapów, które wykonujemy w kilka dni:

<li>Kontakt telefoniczny lub bezpośredni z naszą firmą którego celem jest umówienie niezobowiązującej wizyty u klienta.
<li>Bezpłatna wizyta na miejscu inwestycji na terenie Poznania lub okolic w celu realizacji usługi doradczej, podczas której:
<li>zaproponujemy rozwiązania i produkty o odpowiedniej mocy najlepiej spełniające oczekiwania, czyli najlepiej dostosowany do obiektu
    <br>rodzaj klimatyzacji (klimatyzacja: split, multi split, kasetonowa, kanałowa, przypodłogowo-podsufitowa),<br>
wyznaczymy trasę przebiegu instalacji freonowej, która łączy jednostkę zewnętrzną z wewnętrzną,
    <br>a w sytuacji montażu systemu kanałowego – dodatkowo trasę przebiegu kanałów nawiewnych.
<br>Po wyborze rodzaju, dobierzemy odpowiednią moc urządzenia, dostosowaną do obiektu w którym klimatyzacja będzie pracować. Takie doradztwo oraz bezpośredni szybki kontakt na każdym etapie realizacji usługi budzi wśród klientów spokój i zaufanie.
W oparciu o pozyskane dane przygotujemy ofertę, warunki umowy i ustalimy termin realizacji. Po akceptacji przez zmawiającego zlecenia na miejsce montażu dostarczymy urządzenie wraz z niezbędnymi akcesoriami.
 <li>Instalacja całego systemu obejmuje:
<br>wykonanie niezbędnych przewiertów oraz bruzd w ścianach lub ułożenie listwy maskującej,
<br>instalację jednostki wewnętrznej, tzw. parownika,
<br>instalację jednostki zewnętrznej, tzw. skraplacza,
<br>ułożenie instalacji freonowej oraz elektrycznej łączącej jednostkę wewnętrzną z zewnętrzną w bruzdach ściennych lub w listwie maskującej,
<br>połączenie jednostek ze sobą i doprowadzenie zasilania,
<br>wykonanie grawitacyjnego odprowadzenia skroplin,
<br>wprowadzenie czynnika chłodniczego i kontrolę szczelności instalacji chłodniczej,
<br>uruchomienie urządzenia i sprawdzenie poprawności funkcjonowania,
<br>uzupełnienie ubytków oraz przeprowadzenie czynności wykończeniowych na ścianach niwelujących wszelkie niedoskonałości.
<li>Przeszkolenie w zakresie obsługi klimatyzacji za pomocą pilota lub sterownika zainstalowanego na stałe na ścianie.
<li>Poinformowanie klienta o warunkach gwarancji oraz serwisu klimatyzacji oraz kiedy powinny być wykonywane przeglądy.

    </li> </ul>

</ol>
</div>
{% endblock %}