{% extends 'base.html' %}

{% block content %}
<div class="text">
<h3>POMPY CIEPŁA - MONTAŻ CAŁA WIELKOPOLSKA</h3>
<p>Ogrzewanie budynku za pomocą pompy ciepła to sposób na zapewnienie komfortu termicznego przy jednoczesnej trosce o środowisko. Pompy ciepła pozyskują energię z zewnątrz i przekazują ją do instalacji grzewczych. Na czym dokładnie polega ich działanie? Ciepło pobierane z otoczenia jest sprężane w kompresorze, trafia do skraplacza, po czym rozprężone zostaje przekazane do instalacji grzewczej. Nasza firma Maćko Instalacje montuje wysokiej jakości pompy ciepła na terenie Poznania i okolicznych miejscowości takich jak m.in.: Swarzędz, Luboń, Suchy Las, Przeźmierowo, czy Czerwonak. Wychodząc naprzeciw oczekiwaniom Klientów, przybliżamy działanie tych nowoczesnych urządzeń.
</p>
<p>Pompy ciepła jako alternatywa do paliw kopalnych</p>
<br>Pompy ciepła działają w oparciu o energię zewnętrzną, pochodzącą z trzech źródeł: gruntu, wody i powietrza. Ogrzewanie wymaga wprawdzie zużycia energii elektrycznej, jednak odbywa się to w połączeniu z energią z odnawialnych źródeł. Jest to więc minimalne dobowe zużycie. Ponadto wybierając pompy ciepła, przyczyniasz się do ochrony środowiska. Te urządzenia dzięki zastosowaniu inteligentnych rozwiązań umożliwiają uniezależnienie się od wszelkich paliw kopalnych.

<p>Rodzaje pomp ciepła</p>
<br>Wyróżniamy kilka rodzajów pomp ciepła:

<p>Pompy ciepła powietrze/woda są najkorzystniejszym rozwiązaniem, jeżeli chodzi o koszty związane z całą inwestycją. Ma to związek z tym, że powietrze można wykorzystywać bez większych nakładów. Pompy ciepła powietrze/woda pod względem wydajności nie ustępują gruntowym pompom (glikol/woda).
</p>
<br>Gruntowe pompy ciepła (glikol/woda) pobierają ciepło nagromadzone w ziemi i oddają je wodzie znajdującej się w instalacji grzewczej. Podczas szczytu okresu grzewczego temperatura gruntu na głębokości kolektora osiąga od 3 do 5 °C, a gdy mamy do czynienia z sondami pionowymi, jest jeszcze wyższa. Pompy glikolowe ze względu na stałość temperatury źródła ciepła umożliwiają przewidywanie kosztów ogrzewania przez cały rok.
<br>Woda gruntowa magazynuje energię słoneczną i dlatego jest kolejnym doskonałym źródłem ciepła dla pompy ciepła. Czy wiesz, że nawet w bardzo chłodne dni temperatura wody gruntowej waha się od 7 do 12 °C? Chcąc wykorzystać wodę gruntową jako dolne źródło, zaleca się przygotowanie dwóch studni: czerpnej i zrzutowej, które są oddalone od siebie o jakieś 10 – 15 metrów.
<br>Pompy ciepła to inteligentne urządzenia, które dzięki odnawialnym źródłom energii i takim nowoczesnym rozwiązaniom jak m.in. solary umożliwiają montaż w nowych budynkach oraz obiektach poddawanych modernizacji. Jeżeli zainteresowała Cię oferta dotycząca pomp ciepła, zachęcamy do kontaktu.
<br>Montujemy pompy ciepła na terenie Poznania oraz Lubonia, Przeźmierowa, Suchego Lasu, Swarzędza i okolicznych miejscowości.

    </div>
{% endblock %}