{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class = "home1">


    <p><a href="/products/"><button type="button" class="btn btn-Home">Produkty</button></a>
        <a href="/categories/"><button type="button" class="btn btn-Home">Kategorie</button></a>
        <a href="/producers/"><button type="button" class="btn btn-Home">Producentci</button></a></p>
</div>
   <hr style="color: dimgrey;">

<div class="home1">
    <h2>Zobacz z jakich produktów możemy zrealizować Twoje zamówienie:</h2>

<div class="gallery">
<br>
    <th><a  href="/products"><button type="button" class="btn btn-outline-secondary">KLIMATYZACJE</button></a>
    <td><a  href="/pomps"><button type="button" class="btn btn-outline-secondary">POMPY CIEPŁA</button></td></th>
{% if user.is_superuser %}
    <p><b>DODAJ: </b><a href="/product_add/"><button type="button" class="btn btn-secondary">Produkt</button></a>
            <a href="/category_add/"><button type="button" class="btn btn-secondary">Kategorie</button></a>
            <a href="/producer_add/"><button type="button" class="btn btn-secondary">Producenta</button></a>
            </p>
{% endif %}
<br>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col"></th>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Producent</th>
      <th scope="col">Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr>


        {% for product in products %}
            {% if product.foto != None %}
                <td><img src="{{product.foto.url}}" width=120></td>
            {% endif %}

            <td>{{product.name}}</td>
            <td>{{ product.producer }}</td>
            <td>{{ product.price }} zł</td>
            <td><a href="/product_details/{{product.id}}"><button type="button" class="btn btn-secondary">Szczegoly</button></a></td>
                        {% if user.is_superuser %}
                            <td><a href="/product_edit/{{ product.id }}"><button type="button" class="btn btn-secondary">Edytuj</button></a></td>
                <td><a href="/product_delete/{{product.id}}"><button type="button" class="btn btn-secondary">Usuń</button></a></td>
            {% endif %}
            <th><a href="/addAirProductToCart/{{ product.id }}"><img src ="{% static 'koszyk.jpg' %}" width="40" height="30" alt="Dodaj" title="Dodaj do koszyka"></a></th>



        </tr>


        {%endfor %}


    </table>
</div>
            <h3>POMPY CIEPŁA</h3>
{% endblock %}