{% extends 'base.html' %}

{% block content %}
<ol>
    <h1>{{product_details.name}}</h1>
    <ul>

        <p> <b>Opis produktu:</b> {{product_details.description}}</p>
        <p> <b>Producent:</b> {{ product_details.producer }}</p>
        <p> <b>Kolor:</b> {{product_details.get_color_display}} </p>
        <p><b> Cena: {{product_details.price}}zł </b></p>
    <form action="" method='post'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Dodaj do koszyka">
    </form>


    </ul>
</ol>
{% endblock %}