{% load static %}

<!doctype html>
<html>
    <head>
    <script src="{% static "bootstrap-4.5.0-dist/js/bootstrap.js"%}"></script>
    <script src="{% static "jquery-3.5.1.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-4.5.0-dist/css/bootstrap.css"%}">

    <script src="{%static "app.js" %}"></script>
    <meta charset="UTF-8">
    <title>Klimatyzacje</title>

        <link rel="stylesheet" href="{%  static 'css/style.css' %}">

<div class = "login">


             {% if request.user.is_authenticated %}
                 <p>Witaj {{request.user.username}}
            <a href="/logout"><button type="button" class="btn btn-light">Wyloguj się</button></a>

        {% else %}
            <a href="/user_login"><button type="button" class="btn btn-light">Zaloguj się</button></a>
        {% endif %}
    <a class="block_2" href="/user_registration"><button type="button" class="btn btn-light">Zarejestruj się</button></a>&emsp;
    <div class="basket">
    <a href="/profil/{{ user.profil.id }}"><img src="{% static 'person.png' %}" width="40" height="30" alt="zamówienia" /></a>&emsp;
    <a href="/product_search"><img src="{% static 'lupka.jpg' %}" width="50" height="30" alt="szukaj" /></a>&emsp;
    <a href="/cart/{{ product.id }}"><img src="{% static 'koszyk.jpg' %}" width="40" height="30" alt="koszyk" /></a>&emsp;
    </div></div>
</div>

    </head>
    <body>
        <div class="title">
            KLIMATYZACJA - OZONOWANIE - POMPY CIEPŁA
            <hr style="color: dimgrey;">
            <div>
<div class = "menu">
    <p>
    <a  href="/"><button type="button" class="btn btn-outline-secondary">Home</button></a>&emsp;
    <a  href="/products"><button type="button" class="btn btn-outline-secondary">Sklep</button></a>&emsp;
    <a  href="/montaz"><button type="button" class="btn btn-outline-secondary">Montaż</button></a>&emsp;
    <a  href="/certyficate"><button type="button" class="btn btn-outline-secondary">Certifikaty</button></a>&emsp;
    <a  href="/contact"><button type="button" class="btn btn-outline-secondary">Kontakt</button></a>&emsp;

    </p>
</div></div>
    </div>
<div data-border-width="1px" class="style-ka26c6gh" id="comp-ka26c6fp1" style="transform-origin: center 0.5px; left: 20px; width: 940px; position: absolute; top: 108px; height: 5px;"></div>
    <div class="mainIMG">
    <img src ="{% static 'logoFoto.jpg' %}" width="1000" height="420" alt="mainIMG" title="mainIMG">
                    <hr style="color: dimgrey;">
    </div>

            {% block content %}


            {% endblock %}


<footer>
<div class="footer">

<p>Kontakt:
tel. 796 378 930
<a href="mailto:klimatyzacje.poznan@gmail.com">e-mail: klimatyzacje.poznan@gmail.com</a>
<p>
    Aiuto sp.z o.o. NIP: 779 779 79 79</p>
                 <hr style="color: dimgrey;">


<p align="center">COPYRIGHT 2010 ALL RIGHTS RESERVED&nbsp;by bras &nbsp; 2020</p>
</div>
</div>
</footer>
</body>
</html>